* {
    color: #fff;
    background-color: #222;
}

.element {
    background-color: rgb(255, 255, 255, 0.3);
}

.left-date-info p {
    background-color: #24b12b;
}

.delay-date-info p {
    background-color: #ec1912;
}

#register {
    background-color: #222;
}

input[type="submit"], input[type="text"] {
    border: 1px solid #fff;
}

#search-area input {
    background-color: #fff;
}

#search-area button {
    border: 1px solid #fff;
}

#search-area .fa-circle-xmark {
    background-color: #222;
}

.left-date-info, .delay-date-info {
    background-color: rgb(255, 255, 255, 0.3);
}

#options {
    border-right: 1px solid #ccc;
}

#options li {
    background-color: rgb(255, 255, 255, 0.3);
}

#light div, #dark div, #choose-contacts {
    border: 1px solid #fff;
}

#light div:hover, #dark div:hover {
    filter: drop-shadow(10px 10px 10px #000);
}

#info, #info div, #add-name, #edit-contact {
    background-color: #222;
}

#add-name , #edit-contact{
    border: 1px solid #fff;
}

#add-name button, #edit-contact button, #choose-contacts button {
    border: 1px solid #fff;
}

#info #close {
    background-color: #222;
    border: 1px solid #fff;
}

#WhatSapp #continer #contact .fa-plus {
    border: 1px solid #fff;
}

#number-list li {
    background-color: rgb(255, 255, 255, 0.3);
}

#number-list .on {
    background-color: #0D76E5;
  }
  
  #number-list .off {
    background-color: rgb(252, 252, 252, 0.3);
  }
  