#empity {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#meetings ul {
    list-style: none;
    font-weight: 100;
    padding: 10px;
}
  
.element {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}

.element:hover {
    background-color: #0D76E5;
  }
  
.element div, .element p {
    background-color: transparent;
}
  
.element .date {
    font-size: 12px;
    padding-top: 5px;
}

.inactive {
    opacity: 0.7;
    pointer-events: none;
}

#get-name {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
}
  
#user-name, #tell {
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}

#send-user-name {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #0D76E5;
    transition: 0.5s;
}

#send-user-name:hover {
    background-color: #0953a3;
}