body {
    display: flex;
}

#options {
    width: 35vw;
    height: 100vh;
    position: fixed;
}

#options li {
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
}

#options li:hover {
    background-color: #257cda;
}

#theme {
    display: flex;
    margin-left: 20px;
    padding-left: 35vw;
}

#light, #dark {
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

#light div, #dark div {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

#light div {
    background-image: url("../assets/light.png");
}

#dark div {
    background-image: url("../assets/dark.png");
}

#WhatSapp {
    display: none;
    margin-top: 20px;
    width: 100vw;
    padding-left: 35vw;
}

#WhatSapp #continer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#WhatSapp #continer img {
    width: 230px;
    height: 230px;
}

#WhatSapp #continer p {
    margin-top: 10px;
    text-align: center;
    line-height: 23px;
}

#WhatSapp #continer h4 {
    margin-top: 10px;
}

#WhatSapp #continer #contact {
    display: grid;
    grid-template-columns: 1fr 35px;
    margin-top: 10px;
    gap: 20px;
}

#WhatSapp #continer #contact input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

#contact input:focus {
    border: 1px solid #3ec017;
    outline-color: #3ec017;
}

#WhatSapp #continer #contact .fa-plus {
    background-color: #3ec017;
    color: #fff;
    width: 35px;
    height: 37px;
    text-align: center;
    border-radius: 10px;
    font-size: 35px;
    transition: 0.5s;
    justify-self: end;
    align-self: center;
}

#WhatSapp #continer #contact .fa-plus:hover {
    background-color: #24770b;
}

#number-list {
    list-style: none;
}

#number-list li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

#number-list div {
    background-color: transparent;
    justify-self: end;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

#number-list li i {
    display: none;
    justify-self: end;
    transition: 0.5s;
    background-color: transparent;
}

.fa-share:hover {
    color: #0bb421;
    transition: 0.5s;
}

#number-list li .fa-file-pen:hover {
    color: #164a81;
}

#number-list li .fa-trash-can:hover {
    color: #FF0707;
}

#number-list li:hover {
    background-color: #257cda;
}

#numbers {
    width: 220px;
}

#add-name, #edit-contact {
    visibility: hidden;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 55%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    text-align: center;
}

#add-name input, #edit-contact input{
    padding: 5px;
    border-radius: 5px;
}

#add-name button, #edit-contact button {
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

.done {
    background-color: #257cda;
}

.close {
    background-color: #FF0707;
}

.done:hover {
    background-color: #1e65b1;
    cursor: pointer;
}

.close:hover {
    background-color: #bd0909;
    cursor: pointer;
}

#user-settings {
    display: none;
    padding-left: 35vw;
}

#get-name {
    margin-left: 15vw;
    width: 250px;
    height: 200px;

    #user-name {
        height: 40px;
    }

    #send-user-name {
        width: 50px;
    }
}