#meetings ul {
  width: 90vw;
}

.i-elements {
  display: flex;
  background-color: transparent;
  height: 25px;
  align-self: center;
}

.i-elements i {
  display: none;
  background-color: transparent;
  font-size: 20px;
  padding: 3px;
  align-self: center;
  transition: 0.5s;
}

.i-elements .fa-whatsapp {
  font-size: 25px;
}

.fa-file-pen:hover {
  color: #004c9c;
  transition: 0.5s;
}

.fa-trash-can:hover {
  color: #FF0707;
  transition: 0.5s;
}

.i-elements .fa-whatsapp:hover {
  color: #44db17;
  transition: 0.5s;
}

#config-sec {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.fa-plus {
  background-color: #0D76E5;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: 0.5s;
  font-size: 30px;
}

.fa-circle-info {
  text-align: center;
  font-size: 40px;
  transition: 0.5s;
}

.fa-gear {
  text-align: center;
  font-size: 40px;
  transition: 0.5s;
  padding: 10px;
}

.fa-file-pdf {
  text-align: center;
  font-size: 40px;
  transition: 0.5s;
  padding: 10px;
  margin-bottom: 5px;
}

.fa-plus:hover {
  background-color: #0A56A8;
  cursor: pointer;
}

.fa-circle-info:hover {
  color: #0D76E5;
  cursor: pointer;
}

.fa-gear:hover {
  color: #797979;
  cursor: pointer;
}

.fa-file-pdf:hover {
  color: #c44242;
  cursor: pointer;
}

#register {
  display: none;
  padding: 20px;
  width: 650px;
  height: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  filter: drop-shadow(10px 10px 10px #000);
}

#register form {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  width: 500px;
}

input {
  margin-top: 20px;
}

input[type="submit"] {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#cancel:hover {
  background-color: #f04d4d;
}

#save:hover {
  background-color: #257cda;
}

#buttons {
  justify-self: end;
  grid-column: 2/3;
}

input[type="text"] {
  padding: 5px;
  border-radius: 10px;
}

#choose-contacts {
  display: none;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

#choose-contacts div {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

#choose-contacts button {
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
}

#choose-contacts #cancel-selection {
  background-color: #FF0707;
  transition: 0.5s;
}

#choose-contacts #send {
  background-color: #257cda;
  transition: 0.5s;
}

#choose-contacts #cancel-selection:hover {
  background-color: #b30808;
}

#choose-contacts #send:hover {
  background-color: #1c5592;
}

#choose-contacts h4 {
  text-align: center;
  margin-bottom: 20px;
}

#choose-contacts ul {
  list-style: none;
}

#choose-contacts li {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

#get-name {
  visibility: hidden;
}